*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    align-items: center;
    
}
.container{
    background: linear-gradient(to top left, #0099cc 0%, #ffffcc 100%);
   
    text-align: center;
    color: white;
    height: 400px;
    width:500px;
    padding:80px; 
    font-size: 20px; 
}
.weathermain{
    display: flex;
    text-align: center;
    padding: 5px;
}
.temparature{
    font-size: 25px;
    padding-left: 50px;
}
.weather{
    font-size: 25px;
    padding-left: 10px;
}